<div class="<%= isFindRecipeRoute ? 'fixed-bottom' : '' %>">
  <h3 class="footer">Eat your Heart Out ❤️</h3>
  <p class="footer-p">With the help of Spoonacular</p>
</div>
<div id="navbarElement"><%- include('menu-bar.ejs') %></div>
