<div
  class="font d-flex flex-column flex-shrink-0 p-3"
  style="width: 280px; height: 100%"
>
  <ul class="nav flex-column mb-auto top">
    <li class="nav-item">
      <a href="/" class="nav-link active" aria-current="page"> Home </a>
    </li>
    <li>
      <a href="/recipe" class="nav-link link-body-emphasis">
        Recipe of the Day
      </a>
    </li>
    <li>
      <a href="/find-recipe" class="nav-link link-body-emphasis">
        Find Recipe
      </a>
    </li>
  </ul>
  <hr />
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a href="/faq" class="nav-link active" aria-current="page"> FAQ </a>
    </li>
  </ul>
</div>
