<div
  class="font d-flex flex-column flex-shrink-0 p-3"
  style="width: 280px; height: 100%"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="40"
    height="40"
    fill="white"
    class="bi bi-x-lg"
    id="closebtn"
    viewBox="0 0 16 16"
  >
    <path
      d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
    />
  </svg>
  <ul class="nav flex-column top">
    <li class="nav-item">
      <a href="/" class="nav-link"> Home </a>
    </li>
    <li>
      <a href="/recipe" class="nav-link"> Recipe of the Day </a>
    </li>
    <li>
      <a href="/find-recipe" class="nav-link"> Find Recipe </a>
    </li>
  </ul>
  <hr />
  <ul class="nav flex-column mb-auto">
    <li class="nav-item">
      <a href="/faq" class="nav-link"> FAQ </a>
    </li>
  </ul>
</div>
