@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Serif:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/* font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Serif', serif; */

* {
  margin: 0;
  padding: 0;
}

.header {
  padding-bottom: 3%;
}
body {
  background-color: #235054;
}

.container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 100rem;
  max-width: 100rem;
}

.home {
  margin-top: 1%;
}

h1 {
  font-family: "Roboto Serif", serif;
  color: #f3ede4;
  text-shadow: 2px 2px 3px #702c62;
  margin: 5% 0;
  font-size: 5vw;
}

.form-label {
  margin-top: 10%;
  font-family: "Roboto Serif", serif;
  font-size: 1.5vw;
  font-weight: 600;
  color: #d5cdc2;
}

.form-control::placeholder {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.carousel {
  width: 58%;
  /* height: 100%; */
}

.recipe-title {
  font-family: "Roboto Serif", serif;
  color: #fff;
  border-radius: 30px;
  -webkit-text-stroke: 1px #235054;
  padding: 3%;
  font-size: 3vw;
  background-color: #f3ede4;
  font-weight: 700;
}

.the-carousel {
  background-color: #d5cdc2;
}
