a,
.logo {
  text-decoration: none;
  color: grey;
}

a:hover,
.logo:hover {
  color: white;
}

#navbarElement {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 280px;
  height: 100%;
}

.font {
  font-family: "Roboto Serif", serif;
  background-color: #243132;
  padding-top: 7rem !important;
  font-size: 1.25rem;
}

.nav-link {
  color: #f3ede4;
}

#closebtn {
  position: absolute;
  top: 10px; /* Adjust the top value as needed */
  right: 10px; /* Adjust the right value as needed */
}
